*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.miTitulo
{
    color: red;
    text-align: center;
}

.miFooter
{
    text-align: center;
    color: royalblue;
}

footer p
{
    color: blue;
}