*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.miTitulo
{
    color: rgb(255, 123, 0);
    text-align: center;
}

#cabecera img
{
    width: 100px;
}

#cabecera 
{
    text-align: center;
    border: 2px solid black;
}

.miFooter
{
    text-align: center;
    color: royalblue;
    
}

footer p
{
    color: rgb(255, 153, 0);
}

footer
{
    border: 2px solid rgba(255, 230, 0, 0.555);
}